{{>header}}
{{>nav}}

    <div class="content">
        <div class="content-body">
            <h1>ABOUT</h1>
            <p>This was created by <strong>Mahmoud Reda</strong>. We use data from mapbox and darksky</p>
        </div>
    </div>

{{>footer}}