{{>header}}
{{>nav}}

    <div class="content">
        <div class="content-body">
            <h1>Contact us</h1>
            <a href="https://www.facebook.com/MRFME" target="_blank">My Facebook</a>
        </div>
    </div>

{{>footer}}