{{>header}}
{{>nav}}

    <div class="content">
        <div class="content-body">
            <h1>Contact us</h1>
            <a href="www.facebook.com/MRFME">My Facebook</a>
        </div>
    </div>

{{>footer}}