{{>header}}
{{>nav}}

    <div class="content">
        <div class="content-body">
            <h1>WEATHER APP</h1>
            <form>
                <input type="text" class="input" placeholder="City to look for"/>
                <button class="btn">Search</button>
            </form>
            <p id='error'></p>
            <p id='data'></p>
        </div>
    </div>

{{>footer}}