<div class="nav">
    <div class="logo"><h3><a href="/" class="nav-link">Weather App</a></h3></div>
    <ul>
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
    </ul>
</div>